.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.table-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 100vh;
    max-width: 100vw;
}

.column-container {
    max-height: 200px;
    max-width: 60px;
}